body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    background-color: black;
    color: white;
}
#score p {
    width: 250px;
    font-family: Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
    text-align: center;
}
#game-grid{
    width: 300px;
    height: 600px;
    background-color: rgb (128,206,225);
    border: solid 5px black;
}
#text {
    display: none;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
#piece{
    width: 250px;
    height: 150px;
    border: 2px red solid;
}

#canvas-2{
    position: relative;
}



.start-end{
    display: none;
    
    width: 306px;
    height: 604px;
    position: absolute;
    top: 2px;
    left: 2px;
    

    background-color: black;
    color:  white;
    opacity: 0.8;

    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

   
}
.button{
    width: 220px;
    border: 1px solid white;
    height: 50px;

    background-color: transparent;
    color: white;

    text-align: center;
    font-weight: bold;
    font-size: 15px;

}

.button:hover{
    background-color: white;
    color: black;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#end h3{
    font-size: 30px;
    opacity: 1;
}
#start-button{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
#start-button:hover{
    background-color: transparent;
    color: white;
}
header button{
    display: block;
    width: 100px;
    border: 1px solid white;
    height: 25px;
    margin: 20px auto;

    background-color: transparent;
    color: white;
    font-weight: bolder;

   
}

header button:hover{
    background-color: white;
    color: black;
}

