
body{
    border: 2px #a52a2a solid;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    background-color: black;
}
#game-grid{
    width: 300px;
    height: 600px;
    background-color: rgb (128,206,225);
    border: solid 5px red;
}
#text {
    padding-left: 20px;
}
#piece{
    width: 250px;
    height: 150px;
    border: 2px yellow solid;
}